<div class="main-nav">
<a href="/home"><div class="logo"></div></a>
<form class="searchbar" action="/search" method="post">
<input id="searchBox" type="text" class="search-text" placeholder="Search" name="searchName">
<button type="submit" name="search-btn" class="search-btn"><i class="fas fa-search"></i></button>
</form>
<div class="nav-list">
  <ul>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/messages">Messages</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</div>
</div>
<div class="overlay hidden">

</div>
