<div class="main-nav">
<div class="logo"></div>
<div class="searchbar">
<input type="text" class="search-text" placeholder="Search">
<a href="/search" class="search-btn">
<i class="fas fa-search"></i>
</a>
</div>
<div class="nav-list">
  <ul>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/messages">Messages</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</div>
</div>
<div class="overlay hidden">

</div>
