<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=title%></title>
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/662628882d.js"></script>

</head>

<body>

  <%- include("partials/navbar") -%>
<!-- posts loaded dynamically -->
<div class="page">
 <% for(let i = 0; i<posts.length ;i++){ %>
   <div class="post-container">
        <div class="post-user">
          <strong><%=posts[i].name%></strong>
        </div>
         <div class="post-pic">
           <img src="<%=posts[i].picture%>" class="post-img" alt="post" height="100%" >
         </div>
          <div class="post-buts">
            <button type="button" name="like">Like</button>
            <button type="button" name="dislike">Dislike</button>
          </div>
 </div>
<% } %>
</div>
<div class="newpost">
<form  action="/newpost" method="get">
  <input class="postbutton" type="submit" name="newpost" value="+">
</form>

</div>

<div class="foot"> </div>


</body>
</html>
