
body{
  margin: 0px;
  padding: 0px;
  background: #fff;

}
img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.effect1{
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}
.main-nav{
  height: 12vh;
  width: 100%;
  -webkit-box-shadow: 0 10px 6px -6px #cccccc;
     -moz-box-shadow: 0 10px 6px -6px #cccccc;
          box-shadow: 0 10px 6px -6px #cccccc;
  display: flex;
  align-items: center;
}
.logo{
    height: 100px;
    width: 100px;
    margin-left: 40px;
    margin-right: auto;
    background-image: url(../res/logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-nav .logo a{
  font-size: 2.5em;
  font-family: sans-serif;
  text-decoration: none;
  color: #097c6e;
}
.searchbar{
  height: 40px;
  background: rgba(0, 0, 0, 0.16);
  color: #097c6e;
  opacity: 0.9;
  box-sizing: content-box;
  padding: 8px 15px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  position: absolute;
  margin: 0 50%;
  transform: translateX(-50%);
}
.search-text{
  border: none;
  outline: none;
  background: none;
  padding: 0px;
  float: left;
  color: #097c6e;
  font-size: 16px;
  line-height: 40px;
}
.search-btn{
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #097c6e;
  text-decoration: none;
  float: right;
  border-radius: 50%;
  transition: 0.7s;
}
.search-btn:hover{
  background: #fff;
}

.nav-list{
  margin-left: auto;
}
ul{
 display: flex;
 flex-flow: row wrap;
 margin-right: 25px;
}
li{
  list-style: none;

}
li a{
  color: #097c6e;
  font-size: 20px;
  line-height: 40px;
  text-decoration: none;
  margin: 10px;
}

/* page */
.page{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4,1fr);
  transform: translateY(2%);
}
.box{
  min-height: 20em;
  border: 2px solid black;
  -webkit-box-shadow: 0 10px 6px -6px #cccccc;
     -moz-box-shadow: 0 10px 6px -6px #cccccc;
          box-shadow: 0 10px 6px -6px #cccccc;
}
.b1{
  grid-column: span 3;
  grid-row: span 1;
  background: #111;
}
.b2{
  grid-column: span 2;
  grid-row: span 2;
  background: #222;
}
.b3{
  grid-column: span 2;
  grid-row: span 1;
  background: #333;
}
.b4{
  grid-column: span 1;
  grid-row: span 1;
  background: #444;
}
.b5{

  background: #555;
}
.b6{
  background: #666;
}
.b7{
 background: #777;
 grid-column: span 3;
}
