html{
  padding: 0px;
}
body{
  margin: 0px;
  padding: 0px;
  background: #fff;

}
img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.effect1{
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}
.main-nav{
  height: 12vh;
  width: 100%;
  -webkit-box-shadow: 0 10px 6px -6px #cccccc;
     -moz-box-shadow: 0 10px 6px -6px #cccccc;
          box-shadow: 0 10px 6px -6px #cccccc;
  display: flex;
  align-items: center;
}
.logo{
    height: 100px;
    width: 100px;
    margin-left: 40px;
    margin-right: auto;
    background-image: url(../res/logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-nav .logo a{
  font-size: 2.5em;
  font-family: sans-serif;
  text-decoration: none;
  color: #097c6e;
}
.searchbar{
  height: 40px;
  background: rgba(0, 0, 0, 0.16);
  color: #097c6e;
  opacity: 0.9;
  box-sizing: content-box;
  padding: 8px 15px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  position: absolute;
  margin: 0 50%;
  transform: translateX(-50%);
}
.search-text{
  border: none;
  outline: none;
  background: none;
  padding: 0px;
  float: left;
  color: #097c6e;
  font-size: 16px;
  line-height: 40px;
}
.search-btn{
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #097c6e;
  text-decoration: none;
  float: right;
  border-radius: 50%;
  transition: 0.7s;
}
.search-btn:hover{
  background: #fff;
}

.nav-list{
  margin-left: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
ul{
 display: flex;
 flex-flow: row wrap;
 margin-right: 25px;
}
li{
  list-style: none;

}
li a{
  color: #097c6e;
  font-size: 20px;
  line-height: 40px;
  text-decoration: none;
  margin: 10px;
}

/* page */
.page{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}
.post-container{
  margin: 15px 5px;
  width: 22em;
  height: 25em;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #646a69;
}
.post-user{
  height: 12.5%;
  color: #ffffff;
}
.post-pic{
  height: 80%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  background-color: #c1f6e9;
}
.post-buts{
  height: 7.5%;
  display: inline-block;
  text-align: center;
}
.foot{
  margin: 0px;
  height: 15em;
  background-color: #097c6e;
  width: 100%;
}
.newpost{

  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
}


.postbutton{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: teal;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  font-size: 2em;
}
.selected-post{

  background-color: red;
  position: fixed;
  z-index: 3;
  height: 80vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px auto;

}
.overlay{
  position: fixed;
  top: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.5;
}
#x{
  height: 20px;
  width: 20px;
  text-align: center;
  background: white;
  position: absolute;
  top: 0;
  right: 0;
}
.hidden{
  display: none;
}
